.Carousel_container{
    padding-bottom: 30px;
    width: 100%;
    height: 415px;
    margin: 0 auto;
}

.Info_container{
    display: flex;
    justify-content: space-between;
    color: #FF6060;
}

.Name_wrapper{
    display: flex;
    flex-direction: column;
}
.Name_wrapper h2{
    margin: 0 0 5px;
    font-size: 36px;
    font-weight: 300;
}
.Host_profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Host_profile span{
    width: 70px;
}
.Host_profile img{
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.Description_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.Description_container .Collapsible_container{
    width: 45%;
}
.Description_container .Spoiler{
    min-height: 200px;
}
.Rental_Collapsible{
    width: 50%;
}
.Rental_equipments{
    list-style: none;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 900px) {
    .Info_container{
        flex-direction: column;
    }
    .Host_wrapper{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .Name_wrapper {
        max-width: 600px;
    }
    .Description_container{
        flex-direction: column;
        padding-top: 40px;
        gap: 30px;
    }
    .Description_container .Collapsible_container{
        width: 100%;
    }
}