.Location_container{
    margin-top: 40px;
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 25px;
}
@media screen and (max-width: 1635px) {
    .Location_container{
        background: none;
    }
    .Card_wrapper{
        padding: 0;
    }
}

