header{
    padding-top: 40px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo{
    width: 210px;
    height: 100%;
}

.Header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Menu ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.Menu ul a {
    text-decoration: none;
}

.Menu ul li{
    font-size: 24px;
    color: #FF6060;
    width: 116px;
}