header{
    margin: 40px 0 63px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo{
    width: 210px;
    height: 100%;
}

.Header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Menu ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.Menu ul a {
    color: #FF6060;
}
.Menu ul a:not(.active) {
    text-decoration: none;
}

.Menu ul li{
    font-size: 30px;
}
@media screen and (max-width: 630px) {
    .Logo{
        width: 130px;
    }
    .Menu ul {
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        gap: 20px;
    }
    .Menu ul li{
        text-transform: uppercase;
        font-size: 16px;
    }
}
